<!DOCTYPE html>
<html>
  <body>
    <!-- The Markup Container -->
    <div data-jshook="app-body">{{{ renderedHtml }}}</div>

    <!-- Start the Client App -->
    <script src="{{ assets.app.js }}"></script>
  </body>
</html>
