// These are helper-mixins, -variables etc
// ---

@mixin resetList{
  // remove the list style
  list-style : none;
  // margin-reset is optional
}
// mixin for crisp image-rednering
@mixin crisp-image{
  image-rendering : optimizeSpeed;             // Fallback
  -ms-interpolation-mode : nearest-neighbor;   // IE8+
  image-rendering : -o-crisp-edges;            // Opera
  image-rendering : -moz-crisp-edges;          // Firefox
  image-rendering : -webkit-optimize-contrast; // Chrome (and eventually Safari)
  image-rendering : optimize-contrast;         // CSS3 Proposed
}

// Micro Clearfix by Nicolas Gallagher
// http://nicolasgallagher.com/micro-clearfix-hack/
@mixin micro-clearfix{
  &:before,
  &:after {
    content : "";
    display : table;
  }
  &:after {
    clear : both;
  }

  zoom : 1; // For IE 6/7 (trigger hasLayout)
}

// A tiny clearfix from CSS-Tricks
// https://css-tricks.com/snippets/css/clear-fix/
@mixin clearfix{
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

// create a positioned Element, crossbrowser
@mixin position($position: relative, $display: auto, $width: "", $height: ""){
  position : $position;

  @if $display != auto { display : $display; }
  @if $width  != "" { width  : $width;  }
  @if $height != "" { height : $height; }
}

// Definition for animated elements
@mixin isAnimated{
  // CAUTION:
  //   This breaks `position: fixed;`-elements and will make them
  //   behave like `absolute`-elements! (won't fix them to the viewport)
  transform   : translate3d(0,0,0);
  perspective : 1000;

  // Setting the origin for transformations of an element:
  // transform-origin: 50% 50%;
}

// remove chrome jagged edges for pngs
// http://stackoverflow.com/questions/6492027/css-transform-jagged-edges-in-chrome
@mixin removeJaggedEdges{
  outline: 1px solid transparent;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

@mixin disableContextMenu{
  user-select           : none;
  -webkit-user-select   : none; // disable selection/Copy of UIWebView
  -webkit-user-callout  : none; // disable the IOS popup when long-press on a link
  -webkit-touch-callout : none; // disable the IOS popup when long-press on a link
}

// Definition for button elements
@mixin isButton{
  // change the cursor to a hand
  cursor          : pointer;
  // set text defaults
  text-decoration : none;
  vertical-align  : middle;
  // disable user selection and webkit highlight on tap
  user-select : none;
  -ms-user-select : none;
  -webkit-user-select : none;
  -webkit-tap-highlight-color : transparent;

  // Fix for the Firefox padding issue on focus
  &::-moz-focus-inner{
    padding : 0 !important;
    margin  : -1px !important;
  }
}

// Prototype mixins for debuggind elements
$proto-enabled : true;

// color an element
@mixin proto($id: 1, $opacity : 1){
  $enabled : $proto-enabled;

  @if $enabled {
    @if     (($id == 0 ) or ($id == 'blue'))         { background-color : rgba($blue, $opacity); }
    @elseif (($id == 1 ) or ($id == 'blue-light'))   { background-color : rgba($blue-light, $opacity); }
    @elseif (($id == 2 ) or ($id == 'yellow'))       { background-color : rgba($yellow-light, $opacity); }
    @elseif (($id == 3 ) or ($id == 'green-light'))  { background-color : rgba($green-light, $opacity); }
    @elseif (($id == 4 ) or ($id == 'orange'))       { background-color : rgba($orange-light, $opacity); }
    @elseif (($id == 5 ) or ($id == 'red-light'))    { background-color : rgba($red-light, $opacity); }
    @elseif (($id == 6 ) or ($id == 'blue-dark'))    { background-color : rgba($blue-dark, $opacity); }
    @elseif (($id == 7 ) or ($id == 'yellow-light')) { background-color : rgba($yellow-light, $opacity); }
    @elseif (($id == 8 ) or ($id == 'green'))        { background-color : rgba($green-dark, $opacity); }
    @elseif (($id == 9 ) or ($id == 'orange-light')) { background-color : rgba($orange-light, $opacity); }
    @elseif (($id == 10) or ($id == 'red'))          { background-color : rgba($red-dark, $opacity); }
    @else{
      //background-color : rgba($nr, 0.8);
      @include background-image(linear-gradient(left, rgba($id, 1), rgba($id, 0.9)));
    }
  }
}

// make sure element has a height (don't collapse), even if it has no content
@mixin emptyHeight($height : 1.4em){
  line-height : $height;
  min-height  : $height;
}

// make text fade out
@mixin fontFading($color : #fff, $size : 20px, $distance : 0, $disabled : false, $position : right, $wrapper : after){
  $fading-container : '';

  // create pseudo-element, or an element using a classname
  @if ($wrapper == after) or ($wrapper == before) {
    $fading-container : '&:' + $wrapper;
  } @else {
    $fading-container : $wrapper;
  }

  @if $disabled == false {
    #{$fading-container}{
      @include position(absolute, block);
      @if ($wrapper == after) or ($wrapper == before) {
        content : ' ';
        pointer-events : none;
      }

      @if $position == top {
        width  : 100%;
        height : $size;
        top    : $distance;
        right  : initial;
        bottom : initial;
        left   : 0;
        @include background-image(linear-gradient(top, rgba($color, 1), rgba($color, 0) 95%));
      }
      @if $position == right {
        width  : $size;
        height : 100%;
        top    : 0;
        right  : $distance;
        bottom : initial;
        left   : initial;
        @include background-image(linear-gradient(right, rgba($color, 1), rgba($color, 0) 95%));
      }
      @if $position == bottom {
        width  : 100%;
        height : $size;
        top    : initial;
        right  : initial;
        bottom : $distance;
        left   : 0;
        @include background-image(linear-gradient(bottom, rgba($color, 1), rgba($color, 0) 95%));
      }
      @if $position == left {
        width  : $size;
        height : 100%;
        top    : 0;
        right  : initial;
        bottom : initial;
        left   : $distance;
        @include background-image(linear-gradient(left, rgba($color, 1), rgba($color, 0) 95%));
      }
    }
  } @else {
    #{$fading-container}{ display : none; }
  }
}

// easing definitions
$ease-in           : ease-in;
$ease-out          : ease-out;
$ease-in-out       : ease-in-out;

$ease-in-quart     : cubic-bezier(0.895, 0.030, 0.685, 0.220);
$ease-out-quart    : cubic-bezier(0.165, 0.840, 0.440, 1.000);
$ease-in-out-quart : cubic-bezier(0.770, 0.000, 0.175, 1.000);

$ease-in-quint     : cubic-bezier(0.755, 0.050, 0.855, 0.060);
$ease-out-quint    : cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-out-quint : cubic-bezier(0.860, 0.000, 0.070, 1.000);

$ease-in-expo      : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$ease-out-expo     : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$ease-in-out-expo  : cubic-bezier(1.000, 0.000, 0.000, 1.000);

$ease-in-back      : cubic-bezier(0.600, -0.280, 0.735, 0.045);
$ease-out-back     : cubic-bezier(0.175, 0.885, 0.320, 1.275);
$ease-in-out-back  : cubic-bezier(0.680, -0.550, 0.265, 1.550);

//// Predefined Colors ////
$white-5   : lighten(#000, 5%);   // #0d0d0d
$white-10  : lighten(#000, 10%);  // #1a1a1a
$white-15  : lighten(#000, 15%);  // #262626
$white-20  : lighten(#000, 20%);  // #333333
$white-25  : lighten(#000, 25%);  // #404040
$white-30  : lighten(#000, 30%);  // #4d4d4d
$white-35  : lighten(#000, 35%);  // #595959
$white-40  : lighten(#000, 40%);  // #666666
$white-45  : lighten(#000, 45%);  // #737373
$white-50  : lighten(#000, 50%);  // #808080
$white-55  : lighten(#000, 55%);  // #8c8c8c
$white-60  : lighten(#000, 60%);  // #999999
$white-65  : lighten(#000, 65%);  // #a6a6a6
$white-70  : lighten(#000, 70%);  // #b3b3b3
$white-75  : lighten(#000, 75%);  // #bfbfbf
$white-80  : lighten(#000, 80%);  // #cccccc
$white-85  : lighten(#000, 85%);  // #d9d9d9
// more subtle shades for near-white
$white-90  : lighten(#000, 90%);  // #e6e6e6
$white-91  : lighten(#000, 91%);  // #e8e8e8
$white-92  : lighten(#000, 92%);  // #ebebeb
$white-93  : lighten(#000, 93%);  // #ededed
$white-94  : lighten(#000, 94%);  // #f0f0f0
$white-95  : lighten(#000, 95%);  // #f2f2f2
$white-96  : lighten(#000, 96%);  // #f5f5f5
$white-97  : lighten(#000, 97%);  // #f7f7f7
$white-98  : lighten(#000, 98%);  // #fafafa
$white-99  : lighten(#000, 99%);  // #fcfcfc

$blue-light : #268ce6;
$blue       : #1177db;
$blue-dark  : #0c68c3;

$dark_blue-light  : shade($blue-light, 16%);
$dark_blue        : shade($blue, 16%);
$dark_blue-dark   : shade($blue-dark, 16%);

$light_blue-light : #50b4dc;
$light_blue       : #3fa9d2;
$light_blue-dark  : #2b92b9;

$yellow-light : #fed829;
$yellow       : #fecf06;
$yellow-dark  : #eebd01;

$orange-light : #fd9b3e;
$orange       : #fc8c1f;
$orange-dark  : #ea7e0f;

$green-light  : #56c35d;
$green        : #40b547;
$green-dark   : #38a03e;

$red-light    : #e5584d;
$red          : #d83d30;
$red-dark     : #bc2d20;

$red_orange-light  : tint(mix($red-light, $orange-light, 26%), 2%);
$red_orange        : tint(mix($red, $orange, 26%), 2%);
$red_orange-dark   : tint(mix($red-dark, $orange-dark, 26%), 2%);

$pink-light : #fb6abe;
$pink       : #f254b1;
$pink-dark  : #d8479e;


// RWD - Responsive Web Design Additions
// --
// em's will be used instead of pixels
// http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/

// !default allows breakpoint to be set beforehand
// see: http://sass-lang.com/documentation/file.SASS_REFERENCE.html#variable_defaults_
$use-em-breakpoints : true !default;
$body-px : 16px !default;

// The breakpoints to use
$breakpoint-phone    : 220px !default;  // 240
$breakpoint-smart    : 300px !default;  // 320
$breakpoint-tablet7  : 460px !default;  // 480
$breakpoint-tablet10 : 750px !default;  // 768
$breakpoint-pcsmall  : 960px !default;  // 1024
$breakpoint-pclarge  : 1260px !default; // 1280

// remove units from a number
@function stripUnits($number) {
  @return $number / ($number * 0 + 1);
}

// Convert pixels to em
@function toEm($px){
  $basepx : $body-px;

  @if $use-em-breakpoints { @return stripUnits($px)/stripUnits($basepx) + 0em; }
  @else { @return $px; }
}

// convert to em's for better compatibility
// see: http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/
$phone    : toEm($breakpoint-phone);
$smart    : toEm($breakpoint-smart);
$tablet7  : toEm($breakpoint-tablet7);
$tablet10 : toEm($breakpoint-tablet10);
$pcsmall  : toEm($breakpoint-pcsmall);
$pclarge  : toEm($breakpoint-pclarge);

// Breakpoint functionality
// media-devices can be given in random order
@mixin breakpoint($media) {
  // define minimum and maximum width for each device
  $phone-min    : $phone;
  $phone-max    : $smart;

  $smart-min    : $smart;
  $smart-max    : $tablet7;

  $tablet7-min  : $tablet7;
  $tablet7-max  : $tablet10;

  $tablet10-min : $tablet10;
  $tablet10-max : $pcsmall;

  $pcsmall-min  : $pcsmall;
  $pcsmall-max  : $pclarge;

  $pclarge-min  : $pclarge;
  $pclarge-max  : "none";

  $min-width : toEm($pclarge); // start with the largest value for reducing later
  $max-width : toEm($phone);   // start with the smallest value for increasing later

  // scan all the devices given, use the smallest min-width and largest max-width
  @for $i from 1 through length($media) {
    $device : nth($media, $i);

    // Display the css for the default device (any)
    @if $device == "default" {
      @content;
    } @else {
      // Or display the css for each given device using media Breakbpoints

      @if ($device      == "phone") {
        @if ($min-width > $phone-min) { $min-width : $phone-min; }
        @if ($max-width < $phone-max) { $max-width : $phone-max; }
      }

      @else if ($device == "smart") {
        @if ($min-width > $smart-min) { $min-width : $smart-min; }
        @if ($max-width < $smart-max) { $max-width : $smart-max; }
      }

      @else if ($device == "tablet7") {
        @if ($min-width > $tablet7-min) { $min-width : $tablet7-min; }
        @if ($max-width < $tablet7-max) { $max-width : $tablet7-max; }
      }

      @else if ($device == "tablet10") {
        @if ($min-width > $tablet10-min) { $min-width : $tablet10-min; }
        @if ($max-width < $tablet10-max) { $max-width : $tablet10-max; }
      }

      @else if ($device == "pcsmall") {
        @if ($min-width > $pcsmall-min) { $min-width : $pcsmall-min; }
        @if ($max-width < $pcsmall-max) { $max-width : $pcsmall-max; }
      }

      @else if ($device == "pclarge") {
        @if ($min-width > $pclarge-min) { $min-width : $pclarge-min; }
        $max-width : $pclarge-max;
        // does not have a max-width
      }
    }
  }

  // Use this for seeing the results of media query in console
  // @debug $media;
  // @debug min $min-width max $max-width;

  // create a single media query
  @if ($max-width == $pclarge-max) {
    // don't set a max width if highest-resolution device is targeted
    @media (min-width: $min-width) { @content; }
  } @else {
    @media (min-width: $min-width) and (max-width: $max-width) { @content; }
  }
}

@mixin checkerPattern{
  $light-color : transparent;
  $dark-color : rgba(gray, 0.14);
  $size : $grid * 2;

  background-color: $light-color;
  background-image:
    linear-gradient(45deg, $dark-color 25%, transparent 25%, transparent 75%, $dark-color 75%, $dark-color),
    linear-gradient(45deg, $dark-color 25%, transparent 25%, transparent 75%, $dark-color 75%, $dark-color),
  ;
  background-size: $size $size;
  background-position: 0 0, ($size / 2) ($size / 2);
}

// Misc Documentation
//
// - min-height doesn't work on tables
//   height is the equivalent
//   see: http://stackoverflow.com/questions/7790222/css-display-table-min-height-not-working
//
//

// -----------------------------------------------------------------
// > @stoikerty https://github.com/stoikerty/universal-dev-toolkit
