{
  "presets": [
    "es2015",
    "stage-1",
    "react"
  ],
  "plugins": [
    "jsx-control-statements",
    "transform-class-properties",
    [
      "babel-root-import", {
        "rootPathSuffix": "src"
      }
    ]
  ]
}
