{
  "rules": {
    "indent": [
      2,
      2
    ],
    "quotes": [
      0,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "comma-dangle": [
      0,
      "always-multiline"
    ],
    "no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "none",
        // Ignore React because it's needed before ReactDOM
        "varsIgnorePattern": "React"
      }
    ]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "experimentalObjectRestSpread": false
  },
  "plugins": [
    "react"
  ],
  // Custom Globals
  "globals": {
    "app": true,
    "utils": true,
    "If": true,
    "Else": true
  }
}
