{
  "rules": {
    "indent": [
      2,
      2
    ],
    "quotes": [
      0,
      "single"
    ],
    "semi": [
      2,
      "always"
    ],
    "comma-dangle": [
      0,
      "always-multiline"
    ],
    "no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "none",
        // Ignore React because it's needed before ReactDOM
        "varsIgnorePattern": "React"
      }
    ],

    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "experimentalObjectRestSpread": false
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": false
    },
  },

  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended"],

  // Custom Globals
  "globals": {
    "app": true,
    "utils": true,
    "If": true,
    "Else": true
  }
}
