language: node_js
node_js:
  - "9.11.1"
sudo: false
install:
  - echo 'skip installation'

jobs:
  include:
    - stage: Testing dev-toolkit...
      env: Run feature-tests
      script:
        - cd src
        - cd feature-tests
        - npm install
        - npm run test

    - stage: Testing dev-toolkit...
      env: Test bootstrapping the project
      script:
        - cd src
        - npm install
        - npm run bootstrap

    - stage: Testing dev-toolkit...
      env: Lint feature-tests
      script:
        - cd src
        - cd feature-tests
        - npm install
        - npm run lint

    - stage: Testing dev-toolkit...
      env: Lint packages
      script:
        - cd src
        - cd packages/babel-preset-dev-toolkit
        - npm install
        - npm run lint
        - cd ../..

        - cd packages/babel-runner
        - npm install
        - npm run lint
        - cd ../..

        - cd packages/dev-toolkit
        - npm install
        - npm run lint
        - cd ../..

        - cd packages/eslint-config-dev-toolkit
        - npm install
        - npm run lint

    - stage: Testing dev-toolkit...
      env: Lint templates
      script:
        - cd src
        - cd templates/standard
        - npm install
        - npm run lint
        - cd ../..

        - cd templates/with-eslint
        - npm install
        - npm run lint
        - cd ../..

        - cd templates/with-sass
        - npm install
        - npm run lint
        - cd ../..

        - cd templates/serverless
        - npm install
        - npm run lint
        - cd ../..
