@import "_helpers.scss";

@mixin importFont($family, $path, $filename, $hash){
  @font-face{
    font-family : $family;
    src : url($path + $filename + ".eot?" + $hash);
    src : url($path + $filename + ".eot?#iefix" + $hash) format("eot"),
          url($path + $filename + ".woff2?" + $hash) format("woff2"),
          url($path + $filename + ".woff?" + $hash) format("woff"),
          url($path + $filename + ".ttf?" + $hash) format("truetype"),
          url($path + $filename + ".svg?" + $hash + "#" + $filename) format("svg");
    font-weight : normal;
    font-style  : normal;
  }
}

@mixin font-family($font-family:default, $font-style:default){
  $type : default;

  @if $font-style == italic { font-weight : normal; font-style : italic; }

  @if $font-family == small {
    // use regular style for small font

    $type : $font-family;
    @if $font-style == normal { font-weight : normal; }
    @if $font-style == bold   { font-weight : bold; }

  } @else {
    // use custom font for different styles

    @if $font-style != default {
      @if $font-style == thin {
        font-weight : 200;
        $type : $font-family;
      }
      @if $font-style == normal {
        font-weight : normal;
        $type : $font-family;
      }
      @if $font-style == bold {
        // change font-weight to `normal` if a custom bold font is to be used
        font-weight : bold;
        $type : bold;
      }
      @if $font-style == medium {
        font-weight : normal;
        $type : medium;
      }
    } @else {
      // revert to default styling
      font-weight : normal;
      $type : $font-family;
    }
  }

  @if $type == default { font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif }
  @if $type == text    { font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  @if $type == medium  { font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  @if $type == bold    { font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  @if $type == small   { font-family : Arial, sans-serif; }
  @if $type == code    { font-family : Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New; }

  -webkit-font-smoothing : antialiased;
}

@mixin title($size:medium, $color:default, $font-style:default){
  $font-family : default;

  @if $size == x-small { font-size : 16px; $font-family : small; }
  @if $size == small   { font-size : 18px; }
  @if $size == medium  { font-size : 23px; }
  @if $size == large   { font-size : 28px; }
  @if $size == x-large { font-size : 32px; }
  @if $size == xx-large { font-size : 36px; }

  @if $color == default { color : #333; }
  @else if $color != auto { color : $color; }

  @include font-family($font-family, $font-style);
}

@mixin text($size:medium, $color:default, $font-style:default){
  $font-family : text;

  @if $size == x-small { font-size : 12px; $font-family : small; }
  @if $size == small   { font-size : 13px; $font-family : small; }
  @if $size == medium  { font-size : 15px; }
  @if $size == large   { font-size : 16px; }
  @if $size == x-large { font-size : 18px; }

  @if $color == default { color : #333; }
  @else if $color != auto { color : $color; }

  @include font-family($font-family, $font-style);
}

@mixin label($size:medium, $color:default, $font-style:default){
  $font-family : default;

  @if $size == x-small { font-size : 11px; $font-family : small; }
  @if $size == small   { font-size : 12px; $font-family : small; }
  @if $size == medium  { font-size : 13px; $font-family : small; }
  @if $size == large   { font-size : 15px; }
  @if $size == x-large { font-size : 17px; }

  @if $color == default { color : #999; }
  @else if $color != auto { color : $color; }

  @include font-family($font-family, $font-style);
}

@mixin figure($size:medium, $color:default, $font-style:default){
  $font-family : default;

  @if $size == x-small { font-size : 12px; $font-family : small; }
  @if $size == small   { font-size : 14px; $font-family : small; }
  @if $size == medium  { font-size : 20px; }
  @if $size == large   { font-size : 24px; }
  @if $size == x-large { font-size : 28px; }

  @if $color == default { color : #333; }
  @else if $color != auto { color : $color; }

  @include font-family($font-family, $font-style);
}

@mixin emptyHeight($height : 1.4em){
  line-height : $height;
  min-height  : $height;
}
