// Defaults for font-sizes
// don't change these, override them via style/_config
$text-color-default : #333 !default;
$font-xxlarge : 30px !default;
$font-xlarge  : 26px !default;
$font-large   : 22px !default;
$font-medium  : 18px !default;
$font-small   : 14px !default;
$font-xsmall  : 12px !default;

// use mixin for font-sizes throughout app
@mixin font($font-size: auto, $color: auto, $font-weight: auto){
  @if $font-size != auto {
    @if $font-size == default { font-size : $font-medium; }
    @else if $font-size == xxlarge { font-size : $font-xxlarge; }
    @else if $font-size == xlarge  { font-size : $font-xlarge;  }
    @else if $font-size == large   { font-size : $font-large;   }
    @else if $font-size == medium  { font-size : $font-medium;  }
    @else if $font-size == small   { font-size : $font-small;   }
    @else if $font-size == xsmall  { font-size : $font-xsmall;  }
    @else { font-size : $font-size; }
  }
  @if $color != auto {
    @if $color == default { color : $text-color-default; }
    @else { color : $color; }
  }
  @if $font-weight != auto {
    font-weight: $font-weight;
  }
}
