// retrieve configuration
@import './config.scss';

// Global-style specific to the application
body:global{
  // Body Style. Puh-lease no margin and better contrast
  font-family : 'Source Sans Pro', Verdana, Arial, sans-serif;
  color : #282828;
  margin : 0;
  background-color : $white-96;

  // make fonts look nicer
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.AppBody{
  // Style Defaults. Use border-box & make sure images don't overflow.
  *{ box-sizing : border-box; }
  img{ max-width : 100%; }

  // Remove 300ms click-delay for IE11+
  a[href], button, .btn, .button { touch-action: manipulation; }

  @include font(medium);
}
