<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <!-- The Markup Container -->
    {{#if assets.app.css}}
    <link rel="stylesheet" href="{{ assets.app.css }}"></link>
    {{/if}}
  </head>
  <body>
    <!-- The Markup Container -->
    <div data-jshook="app-body">{{{ renderedHtml }}}</div>

    <!-- Start the Client App -->
    <script src="{{ assets.app.js }}"></script>
  </body>
</html>
