@import 'global-config';

$object-size : 10px;

.app-body{
  @include position(absolute, block, 100%, 100%);
  top : 0;
  left : 0;

  &.white{
    background-color : $white-90;
    border : 5px solid $white-95;

    &:after{
      @include position(absolute, block, 100%, 100%);
      top : 0;
      left : 0;
      content : '';

      border  : 1px solid $black-20;
      opacity : 0.5;
    }
  }
  &.black{
    background-color : $black-90;
    border : 5px solid $black-95;

    &:after{
      @include position(absolute, block, 100%, 100%);
      top : 0;
      left : 0;
      content : '';
      
      border  : 1px solid $white-20;
      opacity : 0.5;
    }
  }
}
