@import 'config';

// "hidden" class for application, used for prototyping convenience
.display-none{
  display : none !important;
}

// style toggles for the body
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Body Style
  font-family : 'Source Sans Pro', Verdana, Arial, sans-serif;
  margin : 0;
  background-color : $white-96;

  &.position-fixed{
    position : fixed !important;
  }
  &.overflow-hidden{
    overflow : hidden !important;
  }

  // Remove 300ms click-delay for IE11+
  a[href], button, .btn, .button { touch-action: manipulation; }

  .app-body{
    // architectural styles
  }

  // defaults
  img{ width : 100%; }
}
