{
  "extends": [
    "airbnb-base"
  ],

  "parser": "babel-eslint",

  "rules": {
    "arrow-parens": [2, "always"]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },

  "env": {
    "mocha": true
  }
}
