// ---
// Caution! these have an effect on a lot of elements
// --

// use pixels for breakpoints
$use-em-breakpoints  : false;

// Define repsonsive breakpoints for application
$breakpoint-phone    : 0px;
$breakpoint-smart    : 300px;
$breakpoint-tablet7  : 440px;
$breakpoint-tablet10 : 768px;
$breakpoint-pcsmall  : 992px;
$breakpoint-pclarge  : 1200px;

// Share these variables in javascript
:export {
  breakpointPhone: $breakpoint-phone;
  breakpointSmart: $breakpoint-smart;
  breakpointTablet7: $breakpoint-tablet7;
  breakpointTablet10: $breakpoint-tablet10;
  breakpointPcsmall: $breakpoint-pcsmall;
  breakpointPclarge: $breakpoint-pclarge;
}

// useful helper mixins
@import 'mixins/_helpers.scss';

// font-settings for app (get passed through mixin as defaults)
$text-color-default : #333;
$font-xxxlarge : 37px;
$font-xxlarge  : 26px;
$font-xlarge   : 21px;
$font-large    : 18px;
$font-medium   : 16px;
$font-small    : 14px;
$font-xsmall   : 12px;

$header-font-family : 'Source Serif Pro', 'Times New Roman', Times, 'Georgia', serif;
$body-font-family : 'Source Sans Pro', Verdana, Arial, sans-serif;
@import 'mixins/_font-settings.scss';

// a common variable for use throughout the app as simple grid-system
$grid : 8px;

// New brand colors (Use your own or inherit from mixins/_helpers)
$brand-green  : $green;
$brand-red    : $red;
$brand-blue   : $blue;
$brand-orange : $orange;
$brand-yellow : $yellow;
