// always base components on the global configuration
@import 'style/config.scss';

.ExampleComponent{
  // position-mixin: position, display (optional), width (optional), height (optional)
  @include position(relative, block, 100%);
  float : left;
  clear : both;
  padding : $grid * 2;
  min-height: $grid * 3;

  // mixin for prototyping: color (number from 1-2), opacity (optional)
  @include proto(2, 0.5);
}
