{
  "plugins": [
    "jsx-control-statements"
  ],
  "extends": [
    "airbnb",
    "plugin:jsx-control-statements/recommended"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [
      "error",
      {
        "ignore": [ "src/" ]
      }
    ]
  },

  "env": {
    "browser": true,
    "mocha": true
  }
}
